<form class="form" #form="ngForm">
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="username">Enter Email</label>
          <input class="form-control" type="text" id="email" name="email" ngModel required #email="ngModel" >
          <ng-container *ngIf="!email.valid && email.touched"><span>Please Enter Valid email</span></ng-container>
        </div>
        <div>
          <div class="form-group">
            <label for="password" >Enter password</label>
            <input class="form-control" type="text" id="password" name="password" ngModel required #password="ngModel">
            <ng-container *ngIf="!password.valid && password.touched"><span>Enter password</span></ng-container>
          </div>
        </div>
        <div class="form-group">
          <select name="gender" class="form-select" id="gender" ngModel="Male">
            <option value="Male">Male</option>
            <option value="Female" >Female</option>
          </select>
        </div>
        <div>
          <button class="btn btn-primary" (click)="formDetails(form)">Submit</button>
          <button class="btn btn-danger btn-sm" (click)="setValue()">Set/Patchvalue</button>
        </div>
        <div *ngIf="isSubmitted">
          <h3>email:{{formRecord.email}}</h3>
          <h3>password:{{formRecord.password}}</h3>
          <h3>gender:{{formRecord.gender}}</h3>



        </div>

      </div>
    </div>
  </div>
</form>
