<!-- <div>
    <input type="text" [(ngModel)]="inputData">
    <button (click)="onPush()">click here</button>
</div> -->


<!-- <ng-container [ngSwitch]="value">
    <div *ngSwitchCase="10">this is 10 value</div>
    <div *ngSwitchCase="12">this is 12 value</div>
    <div *ngSwitchDefault>empty</div>
</ng-container> -->

<!-- <a routerLink="/sample/id/name">goto sample</a>
<br><br>
<a routerLink='/contact/id/name'>goto contact</a>

<button (click)="onclick()">get-the-id</button> -->


<button (click)="onclick()">goto sample</button>