<!-- <div class="container">
    <div class="row">
        <div class="col flex">
            <a class='nav-item' routerLink="/" 
          >home</a><br>
            <a routerLink="contact">contact</a><br>
            <a [routerLink]="['sample/id/name']">sample</a><br>
        </div>
            
        <div>
            <button (click)="navigate()">navigate here</button>
        </div>
        {{user.name}}
        {{user.id}}
        <router-outlet></router-outlet>
     
    </div>
</div> -->

